<template name="welcome">
  <div class="sidebard-panel">
    <div>
      <h4>최근 업데이트 <span class="badge badge-success pull-right">Lastest</span></h4>
      <div>
        <ul class="list-group">
          <li class="list-group-item">
            <i class="fa fa-calendar-check-o"></i> 16.07.21
            <p>- 최저가만 조회</p>
          </li>
          <li class="list-group-item ">
            <i class="fa fa-calendar-check-o"></i> 16.07.18
            <p>- 새로운 UI 리뉴얼</p>
          </li>
          <li class="list-group-item">
            <i class="fa fa-calendar-check-o"></i> 16.06.30
            <p>- 필터링 기능 추가</p>
          </li>
          <li class="list-group-item">
            <i class="fa fa-calendar-check-o"></i> 16.06.28
            <p>- 대시보드 2차 업데이트</p>
          </li>
          <li class="list-group-item">
            <i class="fa fa-calendar-check-o"></i> 16.05.21
            <p>- 대시보드 1차 업데이트</p>
          </li>
        </ul>
      </div>

      <h4>최근 이용현황</h4>
      <div class="feed-element">
        <a href="#" class="pull-left">
          <img class="img-circle" src="/img/a1.jpg" alt="img">
        </a>
        <div class="media-body">
          <small class="text-muted pull-right">16:21</small>
          <strong>관리자</strong><br>
          <small>전체삭제</small>
        </div>
      </div>
      <div class="feed-element">
        <a href="#" class="pull-left">
          <img class="img-circle" src="/img/a1.jpg" alt="img">
        </a>
        <div class="media-body">
          <small class="text-muted pull-right">16:20</small>
          <strong>관리자</strong><br>
          <small>재고내역 업로드</small>
        </div>
      </div>
      <div class="feed-element">
        <a href="#" class="pull-left">
          <img class="img-circle" src="/img/a1.jpg" alt="img">
        </a>
        <div class="media-body">
          <small class="text-muted pull-right">16:19</small>
          <strong>관리자</strong><br>
          <small>재고내역 업로드</small>
        </div>
      </div>
      <div class="feed-element">
        <a href="#" class="pull-left">
          <img class="img-circle" src="/img/a1.jpg" alt="img">
        </a>
        <div class="media-body">
          <small class="text-muted pull-right">16:19</small>
          <strong>관리자</strong><br>
          <small>발주내역 업로드</small>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row ibox">
      <div class="col-lg-8">
        <div class="ibox-content">
          <h1>
            환영합니다
          </h1>
          <p>세상이 변하고 있습니다</p>
          <p>서로 도와가며, 기회를 만들어야 합니다</p>
          <p>CHAGNE > MOVEMENT</p>
          <p>CHAGNE > MOVEMENT</p>
          <p>CHAGNE > MOVEMENT</p>
          <p class="text-right">- 와우팜 파트너즈 -</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="ibox-content text-center">
          <h1>홍길동 부장</h1>
          <div class="m-b-sm">
            <img src="/img/a8.jpg" class="img-circle" alt="">
          </div>
          <p class="font-bold">발주처리 총책임자</p>
          <div class="text-center">
            <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
            <a class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> Love</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="ibox">
          <div class="ibox-content">
            <h5>공지사항</h5>
            <table class="table table-stripped small m-t-md">
              <tbody>
                <tr>
                  <td class="no-borders">
                    <i class="fa fa-circle text-navy"></i>
                  </td>
                  <td  class="no-borders">
                    공지사항 입니다. 1
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-circle text-navy"></i>
                  </td>
                  <td>
                    공지사항 입니다. 2
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-circle text-navy"></i>
                  </td>
                  <td>
                    공지사항 입니다. 3
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-circle text-navy"></i>
                  </td>
                  <td>
                    공지사항 입니다. 4
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-circle text-navy"></i>
                  </td>
                  <td>
                    공지사항 입니다. 5
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-6">
                <div class="widget style1 lazur-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-envelope-o fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> New messages </span>
                            <h2 class="font-bold">260</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="widget style1 yellow-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-music fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> New albums </span>
                            <h2 class="font-bold">12</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-6">
                <div class="widget style1 lazur-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-envelope-o fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> New messages </span>
                            <h2 class="font-bold">260</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="widget style1 yellow-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-music fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> New albums </span>
                            <h2 class="font-bold">12</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-lg-12">
        {{> atForm}}
      </div>
    </div>
  </div>
</template>
