<template name="users">
  <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
          <div class="col-lg-4">
              <div class="contact-box">
                  <a href="#">
                      <div class="col-sm-4">
                          <div class="text-center">
                              <img alt="image" class="img-circle m-t-xs img-responsive" src="/img/a2.jpg">
                              <div class="m-t-xs font-bold"></div>
                          </div>
                      </div>
                      <div class="col-sm-8">
                          <h3><strong>장성근 전무</strong></h3>
                          <p><i class="fa fa-phone"></i> 02-941-0692</p>
                          <address>
                              <strong><i class="fa fa-building"></i> 이리나</strong><br>
                              서울특별시 성북구 종암동 (종암로)<br>
                              12 <br>
                              <abbr title="email">EM: </abbr> sgjang@erina.com
                          </address>
                      </div>
                      <div class="clearfix"></div>
                  </a>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="contact-box">
                  <a href="#">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="/img/a3.jpg">
                            <div class="m-t-xs font-bold"></div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>김동한 </strong></h3>
                        <p><i class="fa fa-phone"></i> 02-481-9913</p>
                        <address>
                            <strong><i class="fa fa-building"></i> 케이에스씨팜</strong><br>
                            경기도 하남시 초이로<br>
                            44번지 <br>
                            <abbr title="email">EM: </abbr> dhkim@kscpharm.com
                        </address>
                    </div>
                    <div class="clearfix"></div>
                  </a>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="contact-box">
                  <a href="#">
                      <div class="col-sm-4">
                          <div class="text-center">
                              <img alt="image" class="img-circle m-t-xs img-responsive" src="/img/a2.jpg">
                              <div class="m-t-xs font-bold"></div>
                          </div>
                      </div>
                      <div class="col-sm-8">
                          <h3><strong>장성근 전무</strong></h3>
                          <p><i class="fa fa-phone"></i> 02-941-0692</p>
                          <address>
                              <strong><i class="fa fa-building"></i> 이리나</strong><br>
                              서울특별시 성북구 종암동 (종암로)<br>
                              12 <br>
                              <abbr title="email">EM: </abbr> sgjang@erina.com
                          </address>
                      </div>
                      <div class="clearfix"></div>
                  </a>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="contact-box">
                  <a href="#">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="/img/a3.jpg">
                            <div class="m-t-xs font-bold"></div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>김동한 </strong></h3>
                        <p><i class="fa fa-phone"></i> 02-481-9913</p>
                        <address>
                            <strong><i class="fa fa-building"></i> 케이에스씨팜</strong><br>
                            경기도 하남시 초이로<br>
                            44번지 <br>
                            <abbr title="email">EM: </abbr> dhkim@kscpharm.com
                        </address>
                    </div>
                    <div class="clearfix"></div>
                  </a>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="contact-box">
                  <a href="#">
                      <div class="col-sm-4">
                          <div class="text-center">
                              <img alt="image" class="img-circle m-t-xs img-responsive" src="/img/a4.jpg">
                              <div class="m-t-xs font-bold"></div>
                          </div>
                      </div>
                      <div class="col-sm-8">
                          <h3><strong>장성근 전무</strong></h3>
                          <p><i class="fa fa-phone"></i> 02-941-0692</p>
                          <address>
                              <strong><i class="fa fa-building"></i> 이리나</strong><br>
                              서울특별시 성북구 종암동 (종암로)<br>
                              12 <br>
                              <abbr title="email">EM: </abbr> sgjang@erina.com
                          </address>
                      </div>
                      <div class="clearfix"></div>
                  </a>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="contact-box">
                  <a href="#">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="/img/a5.jpg">
                            <div class="m-t-xs font-bold"></div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>김동한 </strong></h3>
                        <p><i class="fa fa-phone"></i> 02-481-9913</p>
                        <address>
                            <strong><i class="fa fa-building"></i> 케이에스씨팜</strong><br>
                            경기도 하남시 초이로<br>
                            44번지 <br>
                            <abbr title="email">EM: </abbr> dhkim@kscpharm.com
                        </address>
                    </div>
                    <div class="clearfix"></div>
                  </a>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="contact-box">
                  <a href="#">
                      <div class="col-sm-4">
                          <div class="text-center">
                              <img alt="image" class="img-circle m-t-xs img-responsive" src="/img/a6.jpg">
                              <div class="m-t-xs font-bold"></div>
                          </div>
                      </div>
                      <div class="col-sm-8">
                          <h3><strong>장성근 전무</strong></h3>
                          <p><i class="fa fa-phone"></i> 02-941-0692</p>
                          <address>
                              <strong><i class="fa fa-building"></i> 이리나</strong><br>
                              서울특별시 성북구 종암동 (종암로)<br>
                              12 <br>
                              <abbr title="email">EM: </abbr> sgjang@erina.com
                          </address>
                      </div>
                      <div class="clearfix"></div>
                  </a>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="contact-box">
                  <a href="#">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="/img/a7.jpg">
                            <div class="m-t-xs font-bold"></div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>김동한 </strong></h3>
                        <p><i class="fa fa-phone"></i> 02-481-9913</p>
                        <address>
                            <strong><i class="fa fa-building"></i> 케이에스씨팜</strong><br>
                            경기도 하남시 초이로<br>
                            44번지 <br>
                            <abbr title="email">EM: </abbr> dhkim@kscpharm.com
                        </address>
                    </div>
                    <div class="clearfix"></div>
                  </a>
              </div>
          </div>
      </div>
  </div>
</template>
